google-cloud-storage
fastapi
uvicorn[standard]
gunicorn

# selected PeekingDuck dependencies
pyyaml >= 5.3
click == 7.1.2
requests == 2.24
opencv-contrib-python >= 4.5.2.54
protobuf <= 3.20.1
tensorflow >= 2.2, <2.8
numpy >= 1.17.3
tqdm == 4.45.0
colorama == 0.4.4
scipy >= 1.4.1